.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    padding-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.userInput {
    border: 1px solid #646464;
    border-radius: 5px;
    height: 50px;
}

span {
    width: 400px;
    color: #646464;
    margin-top: 10px;
}

p {
    margin-bottom: 5px;
}

.password-container {
    display: flex;
    flex-direction: column;
}

.save-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.checkbox-label {
    position: relative;
    color: #646464;
}

.info-icon {
    position: relative;
    left: 200px;
}

.continue-btn {
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: 2px solid black;
    padding: 10px;
    gap: 10px;
    font-size: 14px;
}

.create-span {
    color: black;
    margin-top: 40px;
    font-size: 14px;
}

.create-btn {
    margin-top: 10px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid black;
    padding: 10px;
    gap: 10px;
    font-size: 14px;
}

.password-icon{
    width: 22px;
    height: 15px;
    position: relative;
    top: -33px;
    left: 370px;
}


.close-btn{
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 100px;
    border: 1px solid black;
    margin: 10px;
}